apiVersion: v1
kind: Service
metadata:
  name: album-api-service
  labels:
    app: album-api
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: album-api